<div class="row mx-1 py-2 tile-card  ubuntu-font mb-1">
    <div class="d-flex align-items-center gap-2 mb-2">
        <i class="fa-solid fa-microchip"></i>
        <p class="small mb-0 font-bold">About</p>
    </div>
    <p class="text-sm font-400">
        With over 7 years of hands-on experience, I work as a Full Stack Developer focused on building reliable backend
        services, APIs, and microservices using C# and ASP.NET Core.
       </p>
        <p class="text-sm font-400">
        I've also worked extensively with Azure for managing source control and deployments.
        On the front end, I've developed and maintained applications using Angular, and have built cloud solutions with
        AWS Lambda (Node.js) while managing data through MSSQL.
        </p>
</div>