<div class="row align-items-center header-wrapper">
    <div class="col-12 col-sm-4 col-md-3 text-center text-sm-start mb-3 mb-sm-0">
        <div class="profile-pic-container">
            <img class="profile-pic img-fluid" src="/profile-pic.jpg" alt="Profile Picture">
            <div class="super-saiyan-overlay">
                <div class="glowing-eye left-eye"></div>
                <div class="glowing-eye right-eye"></div>
                <div class="energy-aura"></div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-8 col-md-9">
        <div class="row">
                <div class="p-2 first-row">
                    <span class="m-0 profile-name">Christian Tania</span>
                    <i class="fa-regular fa-lightbulb light-bulb"></i>
                </div>
        </div>
        <div class="row">
            <span class="location"> <i class="fa-solid fa-location-dot"></i> Metro Manila, Philippines</span>
            <p class="job-title"><i class="fa-solid fa-user-secret"></i> Full Stack Developer</p>
            <div class="button-action">
                <button id="schedule-call" class="btn header-button" (click)="scheduleCall()">
                    <i class="fa-solid fa-calendar-days"></i> Schedule a Call
                </button>
                <button id="resume" class="btn header-button" (click)="downloadResume()">
                    <i class="fa-solid fa-cloud-arrow-down"></i> Resume
                </button>
            </div>
        </div>

    </div>
</div>