.profile-pic-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 15%;
    transition: all 0.3s ease;
}

.first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span.profile-name {
        font-size: 28px;
        line-height: 36px;
        font-weight: 700;
       font-family: "Ubuntu", sans-serif;
        font-style: normal; 
    }
    .light-bulb {
        font-size: 2rem;
        cursor: pointer;
    }
}

.location,
.job-title  {
  font-family: "Ubuntu", sans-serif;
  font-weight: 200;
  font-style: normal; 
}

#schedule-call {
    margin-right: 10px;
}

#schedule-call,
#resume {
    width: 140px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 2px 2px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;

    &:hover {
      transform: translateY(-2px);
      border-color: rgba(0, 0, 0, 0.317);
    } 
}

.header-button  {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.1);
  color: inherit;
  transition: all 0.2s ease;
  

}

.fa-lightbulb {
    cursor: pointer;
    font-size: 24px;
}